[data-theme="grey"]{

    --color-white: #fff;
    --body-tab-color:#f5f6f7;
    --blue-btn-color: #2c6693;
    --main-color: #abacad;
    --border-color: #dee2e67a;
    --secondary-button-color: #a0adba;
    // --primary-text-color: #212934;
    --secondary-text-color: #4a5768;
    --input-text-color: #6c7787cc;
    --dropdown-text-color: #6c7787d6;

}