// common css
* {
  font-family: "Roboto", sans-serif !important;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

.fa{
  font-family        : 'FontAwesome' !important;
}


// scroll css
::-webkit-scrollbar {
  width: 7px !important;
  height: 10px;
  // cursor: pointer;
}

::-webkit-scrollbar:vertical {
  width: 10px !important;
  height: 10px;
  // cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #fff !important;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #abacad !important;
  border-radius: 15px;
  border: 2px solid transparent;
  background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #abacad !important;
  border: 10px solid transparent;
}

// main class css

.flex-direction-column{
  flex-direction: column;
}

.float-right{
  float: right;
}

// Required Common Css 
.btn-bg-transparent,
.btn-bg-transparent:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #4a5768;
}

// button colors
.blue-btn,
.swal2-confirm {
  background-color: #2c6693 !important;
  border-color: #2c6693 !important;
  color: #fff;
}

.cancel-btn1,
.cancel-btn1:active,
.cancel-btn1:hover{
  background-color: #abacad;
  color: #fff;
  border-color: #abacad;
}

.btn-common,
.btn-common:active,
.btn-common:hover{
  background-color: #a0adba !important;
    border-color: #a0adba !important;
    color: #fff !important;
}

.button-dropdown .btn-secondary{
  background-color: #a0adba !important;
  border-color: #a0adba !important;
}


.modal {
  .close{
    background-color: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    color: #fff;
  }
 
  .modal-content{
    border-color: transparent !important;
  }
  .modal-header{
    background-color: #abacad;
    color: #fff;
    border-color: #abacad;
    padding: 3px 15px !important;
  }

  .modal-title {
    font-size: 1rem;
  }

  .page-link{
    color: #4a5768;
  }

  .page-link.active, .active > .page-link{
    background-color: #abacad !important;
    border-color: #abacad !important;
    color: #fff;
  }
}

// swal popup 

.swal2-title{
  text-align: left;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #abacad;
    border-color: #abacad;
}

.swal2-container .swal2-actions button{
  padding: 5px 12px;
    font-size: 16px;
}

// table css

table th{
  background-color: #abacad !important;
  border-color: #abacad !important;
  color: #fff !important;
}
 table td span{
  color: #4a5768 !important;
 }

// plugin vue css
.vue-treeselect__control,
.vue-treeselect__single-value,
.mx-input,
.vue-treeselect__control-arrow,
.vue-treeselect__x-container,
.mx-icon-calendar, .mx-icon-clear {
  color: #6c7787cc !important;
}

.mx-input{
  border: 0px;
}

.vue-treeselect__multi-value-item {
    background-color: #a0adba !important;
    border-color: #a0adba !important;
    color: #fff !important;
}

.vue-treeselect__value-remove{
 color: #fff !important;
}

.mx-datepicker{
  width: 100% !important;
}
.mx-btn:hover{
  color: #6c7787cc !important;
}

.mx-calendar-content .cell.active {
  color: #fff !important;
  background-color: #a0adba !important;
}


.form-control:focus {
  box-shadow: none !important;
  border-color: #dee2e67a;
}

.select-wrapper {
  border-color: #dee2e67a !important;

  select {
    background: #6c7787cc
      url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='gray'/></g></svg>")
      right 0.75rem center/8px 10px no-repeat;
  }

  .form-control,
  .vue-treeselect__control,
  .mx-input {
    color: #6c7787cc;
    background-color: #fff;
    border-color: #dee2e67a !important;

  }

}

// header css
.navbar {
  position: fixed !important;
  box-shadow: 0px 2px 6px #00000014;
  background-color: #ffffff;
  top: 49px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  max-height: 60px;
  opacity: 1;
  padding-right: 3%;

  .home-logo {
    height: 30px;
  }

  .navbar-brand {
    text-align: left;
    margin-left: 4%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span{
      font-size: 16px;
      letter-spacing: 0.8px;
      color: #4a5768;
      opacity: 1;
      font-weight: 600;
    }
  }

  button {
    border-radius: 50px !important;
    opacity: 1;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 10px !important;
    line-height: 6px;
    color: #4a5768 !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  .button-group button {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }

  .dropdown-menu{
      background-color: #fff;
      border-radius: 12px;
      border-color: #dee2e67a;

      .dropdown-item{
        font-size: 14px;
        color: #6c7787d6;
      }
  }

  .setting-dropdown {
    // img{
    //   filter: brightness(0) saturate(100%) invert(38%) sepia(1%) saturate(2919%) hue-rotate(221deg) brightness(92%) contrast(85%);
    // }

    .dropdown-menu {

      width: 200px;
      background-color: #fff;
      border-radius: 12px;
      border-color: #dee2e67a;
     
      img{
        max-width: 17px;
      }

      .drop-img{
        max-width: 13px;
      }
    }
    .dropdown-item{
      font-size: 14px;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #6c7787d6;
      word-wrap: break-word;
      white-space: break-spaces;
    }

    .dropdown-item:active{
      background-color: transparent !important;
      color: #4a5768;
    }
  }

  

 
}

// new dashboard css
.main-dashboard{

          .nav-pills {
            text-align: left;
          }

          .nav-link {
            color: #4a576882;
            transition: none;
          }

          .nav-pills .nav-link.active,
          .nav-pills .show > .nav-link {
            // background-color: transparent !important;
            // border-radius: 0% !important;
            color: #4a5768 !important;
            font-weight: 500;
          }

          .card{
            border-color: transparent;
          }

          .tab-section{
            height: 100vh;

            h6 {
              color: #4a5768;
            }

            .card-box{
              padding: 20px;
              border-radius: 12px !important;
              background-color: #fff;
              border-color: #dee2e67a !important;

                p.text-md-start{
                  text-align: center !important;
                  margin-top: 4%;
                  padding: 20px 63px;
                  color: #4a5768;
                }
            }

            .nav-tabs{
              border-bottom-color: transparent !important;
            }

            .nav-tabs .nav-link.active,
            .nav-tabs .nav-link:hover {
              border-bottom: transparent!important;
              border-color: transparent!important;
              border-radius: 50px!important;
              color: #4a5768 !important;
              background-color: transparent !important;
            }

            .nav-tabs .nav-link.active{
              background-color: #abacad !important;
              color: #fff !important;
            }

            .tab-content {
              background-color: #f5f6f7;
              margin-left: 250px;
              margin-top: 109px;
              text-align: left;
              // padding-top: 3%;
              color: #4a5768;

              .card-text{
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 30px;
              }
            }

            .main-tab-subsection .tab-content{
              margin-left: 0% !important;
              border-top: 1px solid #abacad;
            }

            .col-auto{
              position: fixed;
              height: 100%;
              top: 97px;
              padding-right: 0px;

              .nav-item{
                margin-top: 11%;
              }
            }

            .card-header{
              background-color: #abacad;
              padding: 40px 0 40px 20px;
              width: 250px;
              position: relative;
            }

            .eye-icon{
              width: 18px;
              margin-top: 0%;
              position: absolute;
              right: 7%;
              cursor: pointer;
            }

          .btn-select {
            font-size: 10px;
            letter-spacing: 0.4px;
            font-weight: 500;
            margin-top: 6px;
            line-height: 12px;
          }
          }
  
        .card-header li a {
          padding: 15px !important;
          cursor: pointer;
          position: relative;
          color: #fff;
          transition: none !important;
        }
        .card-header li a.active::before, .card-header li a.active::after {
          content: "";
          position: absolute;
        }
        .card-header li a.active {
          background-color: #f5f6f7 !important;
          border-radius: 60px 0 0 60px !important;
          box-shadow: none !important;
          transition: none !important;
        }
        .card-header > li > a {
          padding: 10px 15px; 
          text-decoration: none;    
        }

        .card-header li a.active::before {
          top: -80px;
          right: -1px;
          height: 80px;
          width: 40px;
          border-bottom-right-radius: 80px;
          -moz-border-bottom-right-radius: 80px;
          -webkit-border-bottom-right-radius: 80px;
          -webkit-box-shadow: 0 40px 0 0 #f5f6f7; 
          -moz-box-shadow: 0 40px 0 0 #f5f6f7;
          box-shadow: 0 40px 0 0 #f5f6f7;
        }
        .card-header li a.active::after {
          top: 50px;
          right: -1px;
          height: 80px;
          width: 40px;
          border-top-right-radius: 80px;
          -moz-border-top-right-radius: 80px;
          -webkit-border-top-right-radius: 80px;
          -webkit-box-shadow: 0 -40px 0 0 #f5f6f7;
          -moz-box-shadow: 0 -40px 0 0 #f5f6f7;
          box-shadow: 0 -40px 0 0 #f5f6f7;
        }

        .btn-view{
          background-color: #abacad !important;
          border-color: #abacad !important;
          color: #fff !important;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            width: 15px;
          }
        }

        .button-selectGroup{
          position: absolute;
          right: 11%;
          margin-top: -37px;
          display: none !important;
        }

        .vue-treeselect--focused + .button-selectGroup{
          display: block !important;
        }

        .main-body {
          margin-top: 11%;
          margin-bottom: 3%;
          padding: 0 4%;
        }

        .text-img{
          top: 35%;
          left: 4%;
          color: white;
          font-size: 36px;
          font-weight: bold;
          width: 45% !important;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

}


// separate css
.edit-img{
  height: 18px;
}




